<app-header></app-header>

<header>
  <section class="w-60 mx-auto text-center" id="intro">
    <h1 class="tituloPrincipal">Contamos tu voto</h1>
  </section>

  <!-- EFECTO IMAGEN PRINCIPAL-->

  <div class="wave" style="height: 120px; overflow: hidden">
    <svg
      viewBox="0 0 500 150"
      preserveAspectRatio="none"
      style="height: 100%; width: 100%"
    >
      <path
        d="M-0.84,50.81 C119.35,82.39 334.36,-23.19 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: rgb(255, 255, 255)"
      ></path>
    </svg>
  </div>

  <!-- FIN EFECTO IMAGEN PRINCIPAL-->
</header>
<main>
  <!-- INICIO CLAVES DEL SERVICIO -->

  <section class="container-fluid" id="contiene">
    <div class="row w-75 mx-auto servicio-fila my-5">
      <h3 class="tituloServicio mt-2 px-4 pb-5">
        Las claves de nuestro servicio:
      </h3>
      <div class="col-sm pt-5">
        <img
          src="../../../assets/transparencia.png"
          alt="imagen-transparencia"
          width="80%"
        />
        <div class="texto-cuerpo-ppal">
          <h3 class="tituloClaves mt-4 px-4 pb-1">Transparencia</h3>
          <p class="descripcionClaves px-4">
            El sistema permite auditación voto por voto para verificar la
            integridad de la votación.
          </p>
        </div>
      </div>
      <div class="col-sm pt-5">
        <img
          src="../../../assets/rapidez.png"
          alt="imagen-rapidez"
          width="74%"
        />
        <div class="texto-cuerpo-ppal">
          <h3 class="tituloClaves mt-4 px-4 pb-1">Rapidez</h3>
          <p class="descripcionClaves px-4">
            El proceso de elección será en tiempo real, voto que se carga es
            introducido al instante en los porcentajes.
          </p>
        </div>
      </div>
      <div class="col-sm pt-5">
        <img
          src="../../../assets/seguridad.png"
          alt="imagen-seguridad"
          width="80%"
        />
        <div class="texto-cuerpo-ppal">
          <h3 class="tituloClaves mt-4 px-4 pb-1">Seguridad</h3>
          <p class="descripcionClaves px-4">
            Sistemas e instalaciones actualizados periódicamente para estar
            siempre a la vanguardia en seguridad informática y brindar la mejor
            experiencia posible.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- FIN CLAVES DEL SERVICIO -->
  <div class="espacioSecciones"></div>
  <!-- INICIO SECCION COMO USAR -->

  <section class="container-fluid" id="pasos">
    <div class="row w-75 mx-auto servicio-fila my-5">
      <h3 class="tituloComoUsar mt-2 px-4 pb-5 pt-3">
        Como usar nuestro servicio:
      </h3>
      <div class="col-sm pt-5">
        <img
          src="../../../assets/pasoapaso.png"
          alt="imagen-paso-a-paso"
          width="100%"
        />
      </div>
      <div class="col-sm pt-5" id="paso">
        <div class="contenido-textos">
          <div class="texto-span-1">
            <h3 class="tituloUsar mt-4 px-4 pb-1"><span>1</span>Paso</h3>
            <p class="descripcionUsar px-4">
              Ingresar a el apartado de cuenta en el menú del sitio o
              descargarse la aplicación para su dispositivo móvil.
            </p>
          </div>
          <div class="texto-span-2">
            <h3 class="tituloUsar mt-4 px-4 pb-1"><span>2</span>Paso</h3>
            <p class="descripcionUsar px-4">
              Registrarse por medio del apartado de
              <a
                routerLink="/register"
                routerLinkActive="active"
                target="_blank"
                class="text-decoration-none"
              >
                <strong>Registro</strong></a
              >
              con los datos solicitados.
            </p>
          </div>
          <div class="texto-span-3">
            <h3 class="tituloUsar mt-4 px-4 pb-1"><span>3</span>Paso</h3>
            <p class="descripcionUsar px-4">
              Elegir el producto deseado desde la
              <a
                routerLink="/section-comercial"
                routerLinkActive="active"
                target="_blank"
                class="text-decoration-none"
              >
                <strong>sección comercial</strong></a
              >
              y para finalizar cargar el código de su elección desde su panel
              personal para iniciarla.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FIN SECCION COMO USAR-->

  <div class="espacioSecciones"></div>
</main>

<app-footer></app-footer>
