.titulo{
  margin-top: 20px;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

table {
  width: 100%;
  margin:1rem auto;
}

.botonEstilo{
  background-color: rgb(22, 22, 22);
  color: white;
  font-size: 32px;
  font-weight: 500;
}
.botonEstilo:hover {
  background-color: orangered;
  color: black;
  font-size: 32px;
  font-weight: 500;
}

.inputPosition{
  margin-top: 40px;
  margin-bottom: 10px;
  }

  #msj{
    color: red;
  }

  .imagenPerfil {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    border: 4px solid orangered;
    margin-bottom: 10px;
  }

  .textCampos {
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  .box{
    border-radius: 75px;
    background: linear-gradient(179.5deg, rgba(255, 158, 73, 0.384) 3.3%, rgba(255, 68, 0, 0.274) 96%);
  }

  @media(max-width: 551px) {
    .titulo{
      font-size: 33px;
    }
  }

  @media(max-width: 422px) {
    .inputPosition{
     text-align: left;
     font-size: 10px;
    }
  }
  