body{
  font-family: 'Roboto Slab', serif; 
}

/* HOVER NAVBAR */

.nav-item a{
  color: black !important;
  transition: all 0.4s linear;
  }
  .nav-item a:hover{
    color: orangered !important; 
    }

   .divisor{
    border-top: 8px solid black;
    width: 100%;
    background-color: darkgray;
    margin: 0;
    top: -10px;
  }

  /*BREADCRUMBD*/
  .head{
    margin-left: 2% !important;
    margin-right: auto;
  }
  /* FIN BREADCRUMBD*/
  
  /* TEXTO DE IMAGEN PRINCIPAL */

  
  #intro{
    display: flex;
    height: 430px;
    justify-content: center;
    flex-direction: column;
  }
  @media (max-width:768p){
    #intro{
      max-width: 100% !important;
    }
  }
  
  /* EFECTO IMAGEN PRINCIPAL */
  
  
  
  /* CUERPO PRINCIPAL TEST*/
  
  @media (max-width:768px) {
    .servicio-fila {
      width: 100% !important;
      text-align: center;
    }
  }
  
  /* CUERPO PRINCIPAL */
  
  
  .contenido-textos h3 span {
      background: #4d0686;
      color: #fff;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      width: 40px;
      height: 40px;
      padding: 2px;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
      margin-right: 5px;
  }
  
  .contenido-textos a{
    color: black;
    transition: all 0.4s linear;
  }
  
  .contenido-textos a :hover{
    color: orangered;
  }
  
  /* CARD */
  
  .timeline {
    position: relative;
  }
  .timeline:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    background: #d1d1d1;
  }
  .timeline-point {
    position: relative;
  }
  .timeline-point:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 3px solid #d1d1d1;
    background: #fff;
  }
  @media(max-width:576px) {
    .timeline:after,
    .timeline-point:after {
      display: none;
    }
  }
  .box {
    height: 150px;
    background: #737373;
    border: 1px solid #fff;
  }
  
  /* FOOTER */
  
  .footer-hover a{
      color: white;
      transition: all 0.4s linear;
  }
  .footer-hover a:hover{
      color: orangered;
  }
  
    .svg-inline--fa {
      vertical-align: -0.2em;
    }
    
  .rounded-social-buttons {
      text-align: center;
    }
    
    .rounded-social-buttons .social-button {
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 3.125rem;
      height: 3.125rem;
      border: 0.125rem solid transparent;
      padding: 0;
      text-decoration: none;
      text-align: center;
      color: #fefefe;
      font-size: 1.5625rem;
      font-weight: normal;
      line-height: 2em;
      border-radius: 1.6875rem;
      transition: all 0.5s ease;
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;
    }
    
    .rounded-social-buttons .social-button:hover,
    .rounded-social-buttons .social-button:focus {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
    
    .rounded-social-buttons .fa-twitter,
    .fa-facebook-f,
    .fa-linkedin,
    .fa-youtube,
    .fa-instagram {
      font-size: 25px;
    }
    
    .rounded-social-buttons .social-button.facebook {
      background: #3b5998;
    }
    .rounded-social-buttons .social-button.facebook:hover,
    .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }
    .rounded-social-buttons .social-button.twitter {
      background: #55acee;
    }
    .rounded-social-buttons .social-button.twitter:hover,
    .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }
    .rounded-social-buttons .social-button.linkedin {
      background: #007bb5;
    }
    .rounded-social-buttons .social-button.linkedin:hover,
    .rounded-social-buttons .social-button.linkedin:focus {
      color: #007bb5;
      background: #fefefe;
      border-color: #007bb5;
    }
    .rounded-social-buttons .social-button.youtube {
      background: #bb0000;
    }
    .rounded-social-buttons .social-button.youtube:hover,
    .rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
  }
    .rounded-social-buttons .social-button.instagram {
      background: #125688;
    }
    .rounded-social-buttons .social-button.instagram:hover,
    .rounded-social-buttons .social-button.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
    }
