<footer class="text-center">
  <section class="container-fluid">
    <div class="p-4 rounded-social-buttons">
      <div class="row mb-4">
        <div class="col-lg">
          <a
            class="social-button facebook"
            href="https://www.facebook.com/"
            target="_blank"
          >
            <i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="social-button twitter"
            href="https://www.twitter.com/"
            target="_blank"
          >
            <i class="fab fa-twitter"></i
          ></a>
          <a
            class="social-button linkedin"
            href="https://www.linkedin.com/"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i
          ></a>
          <a
            class="social-button youtube"
            href="https://www.youtube.com/"
            target="_blank"
          >
            <i class="fab fa-youtube"></i
          ></a>
          <a
            class="social-button instagram"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
      <div class="row p-3 footer-hover">
        <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
          <ul class="listaLinks">
            <li>
              <a routerLink="/home" routerLinkActive="active"
                ><p class="linkFooter">Inicio</p></a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
          <ul class="listaLinks">
            <li>
              <a routerLink="/login" routerLinkActive="active"
                ><p class="linkFooter">Ingresar</p></a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
          <ul class="listaLinks">
            <li>
              <a routerLink="/contacto" routerLinkActive="active"
                ><p class="linkFooter">Contacto</p></a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
          <ul class="listaLinks">
            <li>
              <a routerLink="/sobrenosotros" routerLinkActive="active"
                ><p class="linkFooter">Sobre Nosotros</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
          <ul class="listaLinks">
            <li>
              <a routerLink="/section-comercial" routerLinkActive="active"
                ><p class="linkFooter">Empezar Votación</p></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="container-fluid derechosFooter">
    <p>Voto electronico 2022 | Todos los derechos reservados</p>
  </div>
</footer>
