<app-header></app-header>
<section class="fondoSobreNosotros">
  <div class="container separadorCard">
    <div class="card1">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-8">
          <h3 class="titulo">Resultados exactos y rápidos</h3>
          <div class="info-text">
            <p>Nuestro sistema de votacion permite solo un voto
              por usuario. Dicha caracteristica permite obetener de manera rapida los resultados de la votacion.</p>
          </div>
        </div>
        <div class="col-lg-3 imagen-box">
          <div>
            <figure class="imagenSobreNosotros"><a href="#"><img src="../../../assets/4428.webp" alt="sample66" /></a></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-3 imagen-box">
          <div>
            <figure class="imagenSobreNosotros"><a href="#"><img
                  src="../../../assets/3401735.webp"
                  alt="sample66" /></a></figure>
          </div>
        </div>
        <div class="col-lg-8">
          <h3 class="titulo">Cuidamos el planeta</h3>
          <div class="info-text">
            <p>Reducimos el impacto ambiental con implementacion de un sistema digital, en vista que el papel es uno de
              los
              mayores contaminantes del agua y del aire.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card3">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-8">
          <h3 class="titulo">La importancia de la comunicación</h3>
          <div class="info-text">
            <p>Contáctate con nosotros en caso de necesitar ayuda, te ofrecemos
              respuesta de manera rápida.</p>
          </div>
        </div>
        <div class="col-lg-3 imagen-box">
          <div>
            <figure class="imagenSobreNosotros"><a href="#"><img
                  src="../../../assets/2653004.webp"
                  alt="sample66" /></a></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 carrusel">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="card-contact">
                      <div class="imagenDiv">
                        <img class="img-area" src="../../../assets/91577323.webp">
                      </div>
                      <h2>Juan Ortega</h2>
                      <h3>Desarrollador full-stack</h3>
                      <div class="rounded-social-buttons">
                        <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank">
                          <i class="fab fa-linkedin"></i></a>
                        <a class="social-button github" href="https://www.github.com/" target="_blank">
                          <i class="fab fa-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="card-contact">
                      <div class="imagenDiv">
                        <img class="img-area" src="../../../assets/ezgif.com-gif-maker.webp"/>
                      </div>
                      <h2>Hilario Picossi</h2>
                      <h3>Desarrollador full-stack</h3>
                      <div class="rounded-social-buttons">
                        <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank">
                          <i class="fab fa-linkedin"></i></a>
                        <a class="social-button github" href="https://www.github.com/" target="_blank">
                          <i class="fab fa-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="card-contact">
                      <div class="imagenDiv">
                        <img class="img-area" src="../../../assets/75105654.webp"/>
                      </div>
                      <h2>Marcos Gomez</h2>
                      <h3>Desarrollador Frontend</h3>
                      <div class="rounded-social-buttons">
                        <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank">
                          <i class="fab fa-linkedin"></i></a>
                        <a class="social-button github" href="https://www.github.com/" target="_blank">
                          <i class="fab fa-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="card-contact">
                      <div class="imagenDiv">
                        <img class="img-area"/>
                      </div>
                      <h2>Florencia Corvalan</h2>
                      <h3>Desarrollador Backend</h3>
                      <div class="rounded-social-buttons">
                        <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank">
                          <i class="fab fa-linkedin"></i></a>
                        <a class="social-button github" href="https://www.github.com/" target="_blank">
                          <i class="fab fa-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="card-contact">
                      <div class="imagenDiv">
                        <img class="img-area" src="../../../assets/IMG_20200127_204946.webp"/>
                      </div>
                      <h2>Lucas Bartolone</h2>
                      <h3>Desarrollador Frontend</h3>
                      <div class="rounded-social-buttons">
                        <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank">
                          <i class="fab fa-linkedin"></i></a>
                        <a class="social-button github" href="https://www.github.com/" target="_blank">
                          <i class="fab fa-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
