<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav nav_letters_side" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="icon_logo"><img src="../../../assets/logotipo1_Mesa_de_trabajo1.png" alt="logo_voto"></mat-toolbar>
    <mat-nav-list class="nav_effect">

      <a mat-list-item routerLink="/dash-usr" routerLinkActive="active">
        <span class="material-icons">
          dashboard
          </span><span class="title">Dashboard</span></a>

      <a mat-list-item routerLink="/historial-usr" routerLinkActive="active">
        <span class="material-icons">
          history</span>
          <span class="title">Historial</span></a>

      <a mat-list-item routerLink="/panel-usr" routerLinkActive="active">
        <span class="material-icons">
          admin_panel_settings
        </span>
        <span class="title">Panel de Usuario</span></a>

        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <span class="material-icons">
            reply
          </span>
          <span class="title">Salir del sitio</span></a>

      <a mat-list-item routerLink="#" routerLinkActive="active" (click)="logOut()">
        <span class="material-icons">
          logout</span>
        <span class="title">Desconectarse</span></a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="warn" class="nav_letters_up">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
<!-- Imagen de usuario-->
<div class="user">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        Bienvenido User               <!--Variable con login -->
      </div>
      <div class="col">
        <span class="material-icons">
          account_circle
          </span>
      </div>
    </div>
  </div>
</div>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
