.grid-container {
  margin: 20px;
  padding-left: 30px;

}
/*
.title_dash{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}
*/
.descripcion_graf {
  color: white;
}
.titulo_tarjeta{
  color: white;
}
.tit_tabla{
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

/* Tarjetas de datos de votacion */

.card{
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.card .numbers{
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 48px;
  color: rgb(22, 22, 22);
}

.card .cardName{
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  margin-top: 5px;
  color: rgb(22, 22, 22);
}

.card .iconTarjeta{
  text-align: right;
  margin-top: 6px;
  margin-bottom: 20px;
  margin-right: 20px;
  color: rgb(22, 22, 22);
}

.card:hover{
  background: rgb(22, 22, 22);
}

.card:hover .numbers,
.card:hover .cardName,
.card:hover .iconTarjeta{
  color: orangered;
}

.material-icons{
  font-size: 48px;
}
.margenGrafico{
  margin-top: 15px;
}

